<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.buildcompany.mapper.OfficeMapper">
    <select
            id="getOfficeById"
    parameterType="java.lang.Integer"
    resultType="office">
    select * from offices where id = #{id}
    </select>

    <select id="getOffice" resultType="office">
    select * from offices
    </select>
</mapper>